[group:folder-getter]
programs=normal

[program:normal]
command=/usr/bin/node /<SYSUSERDIR>/folder-getter/app.js
user=<sysuser>
environment=
	PORT="3000",
	BASE_DIR="/some/path",
	SSL_MODE="false",
	SSL_PRIVATE_KEY="/path/name.key",
	SSL_CERTIFICATE="/path/name.crt"
numprocs=1
autostart=true
autorestart=true
process_name=%(program_name)s_%(process_num)02d
